<h2>Login</h2>
<form [formGroup]="login" (ngSubmit)="handelsunmit()">
  <div class="form-group">
    <label for="name">Name: </label>
    <input formControlName="newTodoName" type="text" class="form-control" id="name" placeholder="Enter Item Name Here">
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input formControlName="newTodoPass" type="password" class="form-control" id="password"
           placeholder="Enter Password Here">
  </div>


  <button type="reset" class="btn btn-secondary">Reset</button>
  <button type="button" class="btn btn-danger" [routerLink]="['/home']">Cancel</button>
  <button type="submit" class="btn btn-primary" [disabled]="!login.valid">Submit</button>
</form>
