<h2 class="mt-4">Done Items</h2>
<section class="col-sm-12 bg-light border-dark mt-3 p-4" style="border: solid">
  <div class=" " *ngFor="let item of taskItem" >
    <div class="row p-2  mt-2 border" *ngIf="item.checkItem">
      <div class="col-md-5 col-12 row">
        <p class="col-4">{{item.id}}</p>
        <p class="col-8" class="complete">{{item.name}}</p>
      </div>
      <div class="col-md-5 col-12">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary " [routerLink]="['/edit',item.id]">edit</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger" (click)="deletItem(item.id)" (click)="openModal(template)">Delete</button>
          </div>
        </div>
      </div>
      <div class="form-group form-check col-12 col-md-2 m-2" >
        <input type="checkbox" class="form-check-input" [id]="item.id" [(ngModel)]="item.checkItem">
        <label class="form-check-label" [for]="item.id"> {{item.checkItem ? ('Completed') : ('Uncompleted')}} </label>
      </div>
    </div>
  </div>
</section>
<h2 class="mt-5">ToDo Items</h2>
<section class="col-sm-12  bg-light border-dark mt-3 p-4" style="border: solid">
  <div *ngFor="let item of taskItem" >
    <div class="row p-2  mt-2 border" *ngIf="!item.checkItem">
      <div class="col-md-5 col-12 row">
        <p class="col-4">{{item.id}}</p>
        <p class="col-8" >{{item.name}}</p>
      </div>
      <div class="col-md-5 col-12">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary " [routerLink]="['/edit',item.id]">edit</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger" (click)="deletItem(item.id)" (click)="openModal(template)">Delete</button>
          </div>
        </div>
      </div>
      <div class="form-group form-check col-12 col-md-2 m-2" >
        <input type="checkbox" class="form-check-input" [id]="item.id" [(ngModel)]="item.checkItem">
        <label class="form-check-label" [for]="item.id" > {{item.checkItem ? ('Completed') : ('Uncompleted')}} </label>
      </div>
    </div>
  </div>
</section>

<br><br>
<ng-template #template>
  <div class="modal-body text-center">
    <p>are you sure you want to delete this todo item? this action can not be undone</p>
    <button type="button" class="btn btn-danger m-1" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-secondary m-1" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-body text-center">
    <p  style="text-align: justify">Deleted successfully :)</p>
    <button type="button" class="btn btn-danger m-1" (click)="confirm2()">Ok</button>
  </div>
</ng-template>
