<h2>Edit ToDo Item</h2>
<form>
  <div class="form-group">
    <label  for="exampleInputEmail1">Name : </label>
    <input #editTodoName type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Item Name Here" [value]="thisItem.name">
  </div>
  <div class="form-group form-check">
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck3" #element  (change)="chaneitem()" >-->
<!--    <label class="form-check-label" for="exampleCheck3">{{checkval}}</label>-->
    <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="thisItem.checkItem" name="first">
    <label class="form-check-label" for="exampleCheck1"> {{thisItem.checkItem? ('Completed') : ('Uncompleted')}} </label>
  </div>
  <button type="reset" class="btn btn-secondary" >Reset</button>
  <button type="button" class="btn btn-danger" [routerLink]="['/home']">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="editItem()">Submit</button>
</form>

